@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>git altra ri-modifica hub</p>
<img src="https://upload.wikimedia.org/wikipedia/it/thumb/2/28/Coca_Cola_glass_bottle_transparent.png/320px-Coca_Cola_glass_bottle_transparent.png" />